USE [master]
GO
/****** Object:  Database [Gilmar_ZonasDB]    Script Date: 15/04/2024 11:59:47 ******/
CREATE DATABASE [Gilmar_ZonasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gilmar_ZonasDB', FILENAME = N'/var/opt/mssql/data/Gilmar_ZonasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gilmar_ZonasDB_log', FILENAME = N'/var/opt/mssql/data/Gilmar_ZonasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gilmar_ZonasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gilmar_ZonasDB]
GO
/****** Object:  Table [dbo].[Oficinas]    Script Date: 15/04/2024 11:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
 CONSTRAINT [PK_Oficinas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Poligonos]    Script Date: 15/04/2024 11:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poligonos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coordenadas] [nvarchar](max) NOT NULL,
	[idZona] [int] NOT NULL,
 CONSTRAINT [PK_Poligonos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zonas]    Script Date: 15/04/2024 11:59:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[idOficina] [int] NOT NULL,
 CONSTRAINT [PK_Zonas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Poligonos]  WITH CHECK ADD  CONSTRAINT [FK_Poligonos_Zonas] FOREIGN KEY([idZona])
REFERENCES [dbo].[Zonas] ([id])
GO
ALTER TABLE [dbo].[Poligonos] CHECK CONSTRAINT [FK_Poligonos_Zonas]
GO
ALTER TABLE [dbo].[Zonas]  WITH CHECK ADD  CONSTRAINT [FK_Zonas_Oficinas] FOREIGN KEY([idOficina])
REFERENCES [dbo].[Oficinas] ([id])
GO
ALTER TABLE [dbo].[Zonas] CHECK CONSTRAINT [FK_Zonas_Oficinas]
GO
USE [master]
GO
